<%= form_tag :session, id: "login_form" do %>
  <div>
    <label>Username:</label>
    <input type="text" name="user_name">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
<% end %>